Source: wb-mqtt-smartbus
Maintainer: Ivan Shvedunov <ivan4th@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), pkg-config

Package: wb-mqtt-smartbus
Architecture: armel
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Smart-Bus suppoirt
